@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<PageTitle>Главная</PageTitle>

<div style="display:flex; width: 80%; display: flex;margin-left: auto;margin-right: auto; margin-top: 2%; align-self: center; align-items: center; justify-content: center;   ">
    <div style="flex: 50%; overflow: ">
        <MudCard Style="background-color: #4f97c2;  width:450px; height: 260px; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; margin-bottom: 6%; margin-left: 5%"></MudCard>
        <MudCard Style="background-color: #A7A7A7; width:450px; height: 260px; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; margin-bottom: 8%; margin-left: 5%"></MudCard>
    </div>
    <MudCard style="flex: 50%; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
        <div id="map"></div>
    </MudCard>
</div>

@code {
    // После того как все элементы DOM веб страницы загружены...

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("startmap", null);
        }
    }

}

<style>
/*     body{
        background-image: url('/img//paperTwo.png');
        background-repeat: no-repeat;
        background-size: cover;
    } */
    #map {
        width: 700px;
        height: 580px;
        padding: 0;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
</style>
